<a href="https://colab.research.google.com/github/FabiCar10/Comandos-R/blob/main/1_2_Comando_en_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Alumna:** Karina Fabiola Cramona Terrazas

**Semestre/Carrera:** 07-LCD

**Fecha:** 08 de ocutumbre de 2023

# Valores numéricos y aritmética

In [ ]:
(3 + exp(2)) / sin(pi) #Expresion matematica

[1] 8.483308e+16

In [ ]:
a <- c(3, 1, 2)    #Varios valores numericos en una sola variable
a

b <- c(4, 5, 0)
b

c <- c(a, b)
c

d <- c(b, a)
d

[1] 3 1 2

[1] 4 5 0

[1] 3 1 2 4 5 0

[1] 4 5 0 3 1 2

In [ ]:
a <- rep(1, 6)   #Gerera lista de r valores todos iguales a x
a

a + 1:2

a + 1:3

[1] 1 1 1 1 1 1

[1] 2 3 2 3 2 3

[1] 2 3 4 2 3 4

In [ ]:
round(0.0124567, digits = 3)

round(0.0124567, 3)

[1] 0.012

[1] 0.012

# Valores lógicos y álgebra booleana.

In [ ]:
a <- c(TRUE,FALSE)
b <- c(TRUE,TRUE)
a
b

a & b
a | b

[1]  TRUE FALSE

[1] TRUE TRUE

[1]  TRUE FALSE

[1] TRUE TRUE

# Conjuntos y operaciones de conjuntos

In [ ]:
my.set <- c("a", "b", "c", "b")

"a" %in% my.set

c("a", "a", "z") %in% my.set

[1] TRUE

[1]  TRUE  TRUE FALSE

In [ ]:
 #Unique() devuelve los valores únicos de un objeto (sin duplicados).
union(c("a", "a", "z"), my.set)  #Se inica que se eliminar el valor dubulicado y se cambiara por una "z"

[1] "a" "b" "c"

[1] "a" "z" "b" "c"

# Vectores de manipulación

In [2]:
a <- letters[1:10]
a

a[2]

 [1] "a" "b" "c" "d" "e" "f" "g" "h" "i" "j"

[1] "b"

In [3]:
my.vector <- c(10, 4, 22, 1, 4)
sort(my.vector)      #sort() se usa para ordenar los elementos de un objeto.

[1]  1  4  4 10 22

In [4]:
matrix(1:15, ncol = 3) #Crea una matriz

     [,1] [,2] [,3]
[1,] 1     6   11
[2,] 2     7   12
[3,] 3     8   13
[4,] 4     9   14
[5,] 5    10   15